%h1 Shoes Factory
%p
  Here, you can
  %a{href: '/pkg', rel: 'package'} package your Shoes app
  so it runs as a normal application on Mac, Windows, or Linux.
%p
  Or, if you prefer, you can
  %a{href: '/dl', rel: 'downloads'} download individual files
  to use in packaging your app on your own machine.
%p
  Check out the 
  %a{href: '/profile', rel: 'profile'} meta data profile
  to see what you can expect to find in this application, and how to use it.
