%dl.profile
  %dt#class class
  %dd
    %dl

  %dt#name name
  %dd
    %dl
      %dt#platform platform
      %dd
        Applied to INPUT[checkbox]. A target platform. Possible values include:
        %ul
          %li mac
          %li windows
          %li linux

  %dt#rel rel
  %dd
    %dl
      %dt#packages packages
      %dd A reference to the list of available packages
      %dt#target-platforms platforms
      %dd A reference to the list of supported target platforms
